* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  color: #2C2C2C;
  background: #ffffff;
  overflow-x: hidden;
}

html.lang-ta body {
  font-family: Lohit Tamil;
}

.lang-en body {
  font-family: 'Gilroy-Medium';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  position: sticky;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.curve {
  display: block;
  margin-left: 485px;
  margin-top: 6px;
  width: 250px;
  height: auto;
}

.lang-en .curve {
  width: 180px;
  margin-left: 525px;
}

.curve1 {
  display: block;
  margin-left: 580px;
  margin-top: 6px;
  width: 250px;
  height: auto;
}

.lang-en .curve1 {
  width: 180px;
  margin-left: 595px;
}

.curve2 {
  display: block;
  margin-left: 645px;
  margin-top: 6px;
  width: 250px;
  height: auto;
}

.lang-en .curve2 {
  width: 180px;
  margin-left: 595px;
}

.curve3 {
  display: block;
  margin-left: 375px;
  margin-top: 6px;
  width: 250px;
  height: auto;
}

.lang-en .curve3 {
  width: 150px;
  margin-left: 505px;
}

.curve4 {
  display: block;
  margin-left: 300px;
  margin-top: 6px;
  width: 250px;
  height: auto;
}

.lang-en .curve4 {
  width: 150px;
  margin-left: 595px;
}

header {
  position: absolute;
  top: -21px;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
}

header .container {
  display: flex;
  align-items: center;
  margin-left: 271px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 79px;
  margin-right: 90px;
}

.lang-en .logo-img,
.lang-ta .logo-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

nav {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 180px;
}

.lang-en nav {
  width: 750px;
  margin-left: 380px;
  margin-right: 0px;
  gap: 70px;
}

nav a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
  white-space: nowrap;
}

nav a:hover {
  color: #D4A017;
}

.nav-contact-btn {
  background: #ffffff;
  color: #1A3C1A !important;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s;
}

.nav-contact-btn:hover {
  background: #C0910A;
}

.lang-en .navbar1 {

  margin-left: 50px;

}

.lan .lang-btn {
  margin-top: 5px;
  margin-left: 10px;

}

.lang-en .lan .lang-btn {
  margin-top: 0px;
}

.lang-btn {
  color: rgba(255, 255, 255, 0.982);
  font-size: 18px;
  font-weight: 500;
  padding: 6px 14px 0px 0px;
  margin-left: -24px;
  transition: all 0.3s;
}

.lang-en .lang-btn {
  gap: 0px;
}

.lang-btn:hover {
  color: #D4A017;
}

.hamburger {
  display: none;
  font-size: 29px;
  color: #fff;
  cursor: pointer;
}

.translate {
  width: 30px;
  height: 25px;
  margin-right: 0px;
  padding-right: 0px;
  border-radius: 8px;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background: url('images/2b03ac6cef182c92c322153ea88939a6fbc869b1 (4).png') center center / cover no-repeat;
  display: flex;
  align-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.star {
  width: 35px;
  height: 35px;
  margin-left: -25px;
}

.hero .container {
  position: relative;
  z-index: 2;
  width: 100%;
  letter-spacing: 0.7;
  padding-top: 173px;
  padding-bottom: 140px;
}

.hero-content {
  max-width: 700px;
  margin-left: -85px;
  margin-top: 8px;
}

.hero-subtitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 6px 10px 6px 10px;
  /* font-family: Lohit Tamil; */
}

.hero-content h1 {
  font-size: 47px;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 12px;
  font-weight: 10;
  font-style: normal;
}

.hero-content h1 span {
  color: #ffffff;
}

.hero-content h1 .yellow-text {
  color: #ffb804;
}

.hero-tagline {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 20px;
}

.hero-attribution {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 28px;
  font-weight: 400;
}

.star1 {
  width: 35px;
  height: 35px;
  margin-left: 410px;
  transform: rotate(45deg);
}

.hero-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.hero-buttons .btn-primary {
  background: #338100;
  color: #fff;
  padding: 14px 34px;
  font-weight: 400;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.hero-buttons .btn-primary:hover {
  background: #1DA851;
}

.hero-buttons .btn-secondary {
  background: transparent;
  color: #fff;
  padding: 14px 34px;
  font-weight: 400;
  font-size: 17px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
}

.hero-buttons .btn-secondary:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}

.stats-overlap {
  position: relative;
  z-index: 3;
  margin-top: -80px;
}

.stats-card {
  background: #fff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
  padding: 36px 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stat-item {
  text-align: center;
  padding: 8px 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-item+.stat-item {
  border-left: 1px solid #e8e8e8;
}

.stat-item .stat-icon {
  font-size: 34px;
  color: #2D5A27;
  margin-bottom: 10px;
  line-height: 1;
}

.stat-item h3 {
  font-size: 27px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
  line-height: 1.2;
}

.stat-item p {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/* ===== PREMIUM STATS ===== */
.premium-stats {
  position: relative;
  z-index: 10;
  margin-top: -60px;
}

.premium-stats-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 55px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.premium-stat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  text-align: left;
  justify-content: center;
  border-right: 1px solid #e8e8e8;
  padding: 0 20px;
}

.premium-stat-card:last-child {
  border-right: none;
}

.premium-stat-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.premium-icon-box {
  width: 48px;
  height: 48px;
  border: 1px solid #13131357;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  flex-shrink: 0;
}

.premium-icon-box svg {
  width: 22px;
  height: 22px;
}

.premium-icon-box .material-symbols-outlined {
  font-size: 28px;
  color: #2D5A27;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0;
  display: inline-block;
}

.premium-stat-num {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
}

.premium-stat-label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.4;
  white-space: nowrap;
}

.section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 48px;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  display: inline-block;
  margin-bottom: 0px;
}

.section-title h2 .section-highlight {
  color: #D4A017;
}

.about {
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

.about::before {

  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 525px;
  opacity: 0.04;
  pointer-events: none;
  line-height: 1;
}

.about-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 60px;
  align-items: center;
}

.about-image {
  display: flex;
  justify-content: center;
  padding-top: 19px;
}

.about-image img {
  width: 371px;
  height: 502px;
  border-radius: 300px;
  object-fit: cover;
  border: 6px solid #fff;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.about-features {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  margin-left: -50px;
}

.about-feature-item {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  background: rgba(255, 255, 255, 0.7);
  padding: 16px 0px;
  border-radius: 14px;
  transition: background 0.3s;
}

.about-feature-item:hover {
  background: rgba(255, 255, 255, 0.95);
}

.about-feature-item .icon {
  width: 54px;
  height: 54px;
  min-width: 44px;
  background: #ffffff;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 19px;
  margin-top: 3px;
  border: 1px solid #0c0c0c67;
}

.about-feature-item .icon .material-symbols-outlined {
  font-size: 32px;
  color: #2D5A27;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0;
}

.about-feature-item .text {
  flex: 1;
}

.about-feature-item .text h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
}

.about-feature-item .text p {
  font-size: 17px;
  color: #555;
  line-height: 1.6;
}

.about::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  height: 560px;
  background-image: url("images/Group 26086429.png");
  color: #0e803b;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  z-index: 0;
  margin-top: 280px;
  margin-left: 110px;
}

.sheep-types {
  background: #ffffff;
}

.sheep-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.sheep-card {
  background: #fff;
  overflow: hidden;
  max-width: 900px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border: 1px solid #000000;
  cursor: pointer;
}

.sheep-card:hover .card-img {
  transform: scale(1.05);
}

.Desc {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
}

.Desc .sheep-subtitle {
  font-size: 24px;
}

.Desc .star {
  margin-left: 4px;
  margin-top: -25px;
  filter: brightness(0) saturate(100%) invert(33%) sepia(52%) saturate(600%) hue-rotate(80deg);
}

.sheep-subtitle {
  font-size: 34px;
  font-weight: 500;
  color: #000000;
}


.card-img-wrap {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  margin-bottom: -5px;
  margin-top: -122px;
  margin-right: -11px;
}

.card-img-wrap .card-img {
  width: 100%;
  height: 129%;
  margin-top: 117px;
  margin-left: -5px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}


.sheep-cards {
  margin-left: 286px;
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden;
  border: 1px solid #000000;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;

}

.sheep-cards:hover .card-img {
  transform: scale(1.05);
}

.card-label {
  padding: 14px 12px;
  text-align: center;
  background: #fff;
  margin-top: 10px;
}

.card-label h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 1.3;
  margin: 0;
}

.benefits {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  margin-top: -76px;

}

.benefits::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('images/goatimg1.svg') center center / 296px no-repeat;
  opacity: 0.9;
  margin-top: 320px;
  margin-left: 1080px;
  pointer-events: none;
}

.benefits::after {
  position: absolute;
  right: -30px;
  bottom: -50px;
  font-size: 420px;
  opacity: 0.04;
  pointer-events: none;
  line-height: 1;
}

.benefits-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 60px;
  align-items: center;
}

.benefits-image {
  display: flex;
  justify-content: center;
}

.benefits-image img {
  width: 370px;
  height: 500px;
  border-radius: 300px;
  object-fit: cover;
  border: 6px solid #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefit-item {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  padding: 16px 20px;
  border-radius: 14px;
  transition: background 0.3s;
}



.benefit-item .icon {
  width: 54px;
  height: 54px;
  min-width: 44px;
  background: #ffffff;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 19px;
  margin-top: 3px;
  border: 1px solid #2D5A27;
}

.benefit-item .text {
  flex: 1;
}

.benefit-item .text h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 6px;
}

.benefit-item .text p {
  font-size: 17px;
  color: #555;
  line-height: 1.6;
}

.benefit-item .icon .material-symbols-outlined {
  font-size: 32px;
  color: #2D5A27;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0;
}

.goat {
  position: absolute;
  width: 350px;
  height: 458px;
  margin-left: 414px;
  margin-top: 106px;
  opacity: 0.7;
}

.categories {
  background: #ffffff;
  padding: 60px 0 50px;
}

.cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: -77px;
  flex-wrap: wrap;
  width: 1220px;
  height: 100px;
}

.card {
  position: absolute;
  padding: 18px 30px;
  border-radius: 50px;
  font-size: 24px;
  color: #333;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.lang-en .card {
  padding: 10px 23px;
}

.green {
  margin-right: 790px;
  background: #baf5d8;
  transform: rotate(10deg);
}

.cyan {
  margin-right: 265px;
  background: #79eef2;
  transform: rotate(-8deg);
}

.blue {
  margin-left: 300px;
  background: #bfd2f3;
  transform: rotate(18deg);
}

.purple {
  margin-left: 870px;
  background: #d9b1ef;
  margin-top: 12px;
}

.lang-en .green {
  left: 180px;
  margin-right: 0;
}

.lang-en .cyan {
  left: 360px;
  margin-right: 0;
}

.lang-en .blue {
  left: 652px;
  margin-left: 11px;
  margin-top: 35px;
}

.lang-en .purple {
  left: 820px;
  margin-left: 35px;
  margin-top: 67px;
  /* margin-right: -110px; */
  transform: rotate(-10deg);
}

.order-process {
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

.order-process::after {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 368px;
  opacity: 0.04;
  pointer-events: none;
  line-height: 1;
}

.order-grid {
  display: flex;
  position: relative;
  grid-template-columns: 1fr 360px;
  gap: 60px;
  align-items: center;
}

.order-steps {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 190px;
  width: 800px;
}

.order-step {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-step .step-num {
  width: 56px;
  height: 56px;
  min-width: 46px;
  background: #fafafb;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 19px;
  margin-top: 2px;
  border: 1px solid #00000061;
}

.lang-en .order-step .step-num {
  width: 46px;
  height: 46px;
}

.order-step .step-num .material-symbols-outlined {
  font-size: 32px;
  color: #2D5A27;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0;
}

.order-step .step-text h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 4px;
}

.order-step .step-text h4:empty,
.lang-en .order-step .step-text h4 {
  display: none;
}

.order-step .step-text p {
  font-size: 17px;
  font-weight: 400;
  color: #000000;

}

.order-image {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 900px;
}



.lang-en .order-image {
  margin-left: 800px;
}

.order-image img {
  width: 100%;
  height: 412px;
  border-radius: 16px;
}

footer {
  background: #1A3C1A url('images/footer-bg.png') center center / contain no-repeat;
  color: #fff;
  padding: 60px 0 0;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: -31px;
  align-items: center;
  text-align: center;
}

.footer-col h3 {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

.footer-col:first-child h3 {
  font-size: 34px;
}

.footer-col:first-child p {
  font-size: 25px;
}

.footer-col p {
  font-size: 21px;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  margin-bottom: 4px;
}

.footer-col .phone-large {
  font-size: 45px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
  margin: 14px 0 8px;
}

.what {
  margin-left: 15px;
}

.lang-en .what {
  margin-left: 2px;
}

.footer-col .phone-sub {
  font-size: 25px;
  color: white;
  line-height: 1.6;
}

.footer-social {
  display: flex;
  gap: 14px;
  margin-top: 16px;
  justify-content: center;
  width: 100%;
}

.lang-en .footer-social {
  justify-content: flex-start;
}

.lang-ta .footer-social {
  margin-left: -24px;
  width: auto;
}

.footer-social a {
  width: 44px;
  height: 44px;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
  transition: all 0.3s;
}

.footer-social a:hover {
  background: #D4A017;
  color: #1A3C1A;
}

.footer-bottom {
  display: flex;
  margin-top: 40px;
  margin-left: 10px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.copy {
  margin-left: 340px;
}

.comp {
  margin-left: -368px;
}

.goat2 {
  position: absolute;
  margin-top: 0px;
  padding-top: 0%;
  margin-left: 120px;
  height: 130px;
  width: 200px;
  zoom: 200%;
}
/* ===== RESPONSIVE - ≤360px ===== */
@media (max-width: 360px) {
  .container {
    padding: 0 0 0 0 px;
    margin: 0 5 0 5 px;
  }

  .logo-img {
    height: 40px;
    width: 40px;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 0px;
  }

  /* .navbar1 .a{
    text-align: center;
  } */

  /* .nav-contact-btn:hover{
    text-align: center;

  } */

  nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(26, 60, 26, 0.98);
    z-index: 999;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-right: 10px;
  }

  .hero .container {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .hero-content h1 {
    font-size: 17px;
  }

  .hero-subtitle {
    font-size: 10px;
  }

  .hero-buttons .btn-primary,
  .hero-buttons .btn-secondary {
    font-size: 13px;
    padding: 8px 14px;
    width: 333px;
  }

  .lang-en .hero-buttons .btn-primary,
  .lang-en .hero-buttons .btn-secondary {
    font-size: 13px;
    padding: 8px 14px;
    width: 333px;
  }


  .curve {
    margin-left: 125px !important;
  }

  .section-title h2 {
    font-size: 18px;
  }

  .section {
    padding:  24 0 0 0 px !important;
  }

  .about-image img {
    width: 151px;
    height: 203px;
  }

  .about::after {
    margin-top: 370px;
    margin-left: 200px;
  }

  .benefits-image img {
    width: 151px;
    height: 203px;
  }

  .benefits-list {
    gap: 0px;
  }

  .about-features {
    gap: 0px;
  }

  .about-feature-item .text h4 {
    font-size: 14px;
  }

  .about-feature-item .text p {
    font-size: 12px;
  }

  .benefit-item .text h4 {
    font-size: 14px;
  }

  .benefit-item .text p {
    font-size: 12px;
  }

  .premium-stats-row {
    width: 333px;
    padding: 0px;
    margin: 0px;
  }

  .premium-stat-card {
    margin-right: 0px;
    padding-right: 0px !important;
  }

  .premium-stat-text {
    margin: 0px;
    padding: 0px;
  }

  .premium-stat-num {
    font-size: 15px;
  }

  .premium-stat-label {
    font-size: 10px;
  }

  .curve1 {
    margin-left: 160px !important;
  }

  .curve2 {
    margin-left: 200px !important;
  }

  .benefits::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('images/goatimg1.svg') right bottom / 200px no-repeat;
    opacity: 0.8;
    pointer-events: none;
    margin: 0;
    margin-bottom: 60px;
  }

  .lang-en .benefits::before{
    margin-bottom: 40px;
  }

  .card {
    padding: 6px 10px;
    font-size: 0.75rem;
  }

  .green {
    margin-left: 25px;
  }

  .lang-en .green {
    margin-left: 30px;
  }

  .cyan {
    margin-left: 120px;
  }


  .blue {
    margin-right: 140px;
  }

  .purple {
    margin-left: 140px;
  }

  .lang-en .purple {
    margin-left: 110px;
  }

  .order-steps {
    width: 300px;
    gap: 5px;
  }

  .lang-en .order-steps{
    width: 240px;
    gap: 10px;
  }

  .lang-en .step-num{
    width: 32px !important;
    height: 32px !important;
  }

  .order-grid {
    margin-top: 15px;
  }

  .lang-en .order-grid{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-col .phone-large {
    font-size: 17px;
  }

  .footer-col:first-child h3 {
    font-size: 15px;
  }

  /* .order-image img {
    width: 110px;
    max-width: 110px;
    margin-left: -40px;
    margin-top: 40px;
    opacity: 0.5;
  } */

  .lang-en .order-image img {
    position: relative;
    width: 10px;
    /* max-width: 10px; */
    margin-left: 40px;
    margin-top: 40px;
    opacity: 0.5;
  }

  .lang-en .order-image{
    width: 180px;
    height: 240px;
    margin-left: 0px;
  }

  .lang-en .order-image img{
    width: 180px;
    height: 240px;
    margin-left: 160px;
  }
  .order-image {
    position: absolute !important;
    top: 0;
    left: 110px;
    margin: 0;
  }

  .order-image img {
    position: relative; 
    width: 130px;
    height: auto;
    max-width: 130px;
    margin-left: 90px;
    margin-top: 37px;
    opacity: 0.5;
  }
}